<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.developia.mapper.BoardMapper">

	<sql id="criteria">
		<if test="ticket == true">
			ticket = 1 AND
		</if>
		<if test="type != null and type != ''">
			type = #{type} AND 
		</if>
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
	    	<foreach item='searchType' collection="searchTypeArr">
	    		<trim prefix="OR">
	    			<choose>
	    				<when test="searchType == 'T'.toString()">
	    					title LIKE '%'||#{keyword}||'%'
	    				</when>
	    				<when test="searchType == 'R'.toString()">
	    					rname LIKE '%'||#{keyword}||'%'
	    				</when>
	    				<when test="searchType == 'W'.toString()">
	    					writer LIKE '%'||#{keyword}||'%'
	    				</when>
	    			</choose>
	    		</trim>
	    	</foreach>
	    </trim>
	</sql>

	<select id="getList" resultType="BoardVO">
		<![CDATA[
		SELECT * FROM board where bno > 0
		]]>
	</select>
	
	
	<select id="getNextBno" resultType="long">
		select seq_board.nextval from dual
	</select>
	
	<insert id="insert">
		insert into board (bno, title, content, writer, password, ticket, type, filename, stars, rname)
		values (#{bno}, #{title}, #{content}, #{writer}, #{password}, #{ticket}, #{type}, #{filename}, #{stars}, #{rname})
	</insert>
	
	<select id="get" resultType="BoardVO">
		select * from board where bno = #{bno}
	</select>
	
	<delete id="delete">
		delete from board 
		where bno = #{bno}
		and	  password = #{password}
	</delete>
	
	<update id="update">
		update	board
		set 	title = #{title},
				content = #{content}
				filename = #{filename}
		where 	bno = #{bno}
	</update>
	
	<update id="likeUp">
		update	board
		set 	recommend = (SELECT recommend
			FROM board
			WHERE bno = #{bno}) + 1
		where 	bno = #{bno}
	</update>
	
	<select id="getListWithPaging" resultType="BoardVO">
	<![CDATA[
	select bno, title, content, writer, regdate, ticket, type, stars, recommend, rname
	from (
	    select /*+INDEX_DESC(board pk_board_bno) */
    			rownum rn, bno, title, content,	writer, regdate, ticket, type, stars, recommend, rname
	    from board
	    where
	]]>
	<include refid="criteria"></include>
	<![CDATA[
		rownum <= #{pageNum} * #{amount})
	WHERE rn > (#{pageNum} - 1) * #{amount}
	]]>
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from board where
		<include refid="criteria"></include>
		<![CDATA[
		bno > 0
		]]>
	</select>
	
</mapper>
<!-- CDATA 사용하여 >가 태그가 아닌 부등호임을 알림 -->
