<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.developia.mapper.ReplyMapper">
	<select id="get" resultType="ReplyVO">
		SELECT * FROM reply where cno = #{cno}
	</select>
	
	<insert id="insert">
		insert into reply (cno, content, writer, password, bno)
		values (seq_comment.nextval, #{content}, #{writer}, #{password}, #{bno})
	</insert>
	
	<delete id="delete">
		delete reply 
		where cno = #{cno}
		and	  password = #{password}
	</delete>
	
	<update id="update">
		update reply set 
				content = #{content}
		where	cno = #{cno}
		and		password = #{password}
	</update>
	
	<select id="getListWithPaging" resultType="ReplyVO">
		<![CDATA[
		SELECT 	*
		FROM	(
					select /*+ INDEX_DESC (reply idx_reply) */ 
							rownum rn, cno, content, writer, password, regDate, bno 
							from reply
							where bno = #{bno}
							and cno > 0
							and rownum <= #{cri.pageNum} * #{cri.amount}
				)
		WHERE	rn > (#{cri.pageNum} - 1) * #{cri.amount}
		]]>
	</select>
	
	<select id="getCountByBno" resultType="int">
		<![CDATA[
		SELECT count(cno) from reply where bno = #{bno}
		]]>
	</select>
</mapper>
