#btn_green {
  color: #1C5B2C; /* 텍스트 색상: 기존 배경색 */
  background-color: white; /* 배경색 흰색 */
  font-weight: 600; /* 텍스트 볼드 */
  border: 2px solid #1C5B2C; /* 테두리: 기존 배경색 */
  padding: 5px 23px; /* 상하 8px, 좌우 25px 패딩 */
  font-size: 13px; /* 글자 크기 */
  border-radius: 4px; /* 둥근 모서리 추가 (선택 사항) */
  cursor: pointer; /* 커서 변경 */
  margin: 2px;
}

#btn_green:hover {
  background-color: #1C5B2C; /* 호버 시 배경색 */
  color: white; /* 호버 시 텍스트 색상 */
}

#board_green {
	background-color: #E4F2B6;
}