@charset "UTF-8";
:root {
	--bs-sesac-rgb: 126, 217, 130;
}
.bg-sesac {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-sesac-rgb), var(--bs-bg-opacity)) !important;
}
.btn-sesac {
  --bs-btn-color: #fff;
  --bs-btn-bg: #7ed982;
  --bs-btn-border-color: #7ed982;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7ccf80;
  --bs-btn-hover-border-color: #7ecf82;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #7ecf82;
  --bs-btn-active-border-color: #7ac47d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #7ed982;
  --bs-btn-disabled-border-color: #7ed982;
}
